.cardTable td {
    padding: 0.25rem 1rem;
}

.delete, .edit, .plus {
    cursor: pointer;
    margin: 0 0.5rem;
}

.edit:hover {
    color: var(--bg-blue)
}

.plus:hover {
    color: var(--bg-green)
}

.delete:hover, .close:hover {
    color: var(--bg-red);
}

.cardTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

.cardTable tr {
    border-bottom: var(--bg-500) 1px solid;
}

.cardTable td {
    margin: auto;
}