.collectionContainer {
    padding: 0;
    width: 12rem;
}

.collection {
    height: 12rem;
    width: 10rem;
    max-width: 300px;
    background-color: var(--bg-600);
    
    display: flex;
    flex-direction: colum;
    align-items: flex-end;
    justify-content: center;

    position: relative;

    border-radius: 0.25rem;

    margin: 1rem;
    padding: 1rem;
    cursor: pointer;

    user-select: none;
}

.elipses {
    top: 0;
    left: 0;
    margin: 1rem;
    position: absolute;
    opacity: 70%;
    cursor: pointer;
    border-radius: 10px;
    border: transparent;
    text-align: center;
    vertical-align: middle;
}

.elipses:hover {
    opacity: 100%;
}

.contextMenu {
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 2.5rem;

    background-color: var(--bg-400);
    text-align: left;
    z-index: 10;
}

.contextMenu ul {
    list-style-type: none;
    text-align: left;
}

.contextMenu li:hover, .active {
    outline: 1px solid #646464;
}

.preview, .rear {
    content: "";
    position: absolute;
    border-radius: 0.25rem;
}

.preview {
    width: 12rem;
    top: 0.75rem;
    left: 0.5rem;
    height: 90%;
    background-color: var(--bg-400);
    z-index: -1;
}

.collection:hover .rear {
    -webkit-box-shadow: 0px 0px 26px 4px rgba(150,150,150,0.7); 
    box-shadow: 0px 0px 26px 4px rgba(150,150,150,0.7);
}

.rear {
    width: 12.5rem;
    top: 0.5rem;
    left: 0.5rem;
    height: 94%;
    background-color: var(--bg-700);
    z-index: -10;
}