
.editModal {
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);  
    transform: translateY(-50%);  

    border: var(--bg-400) 1px solid;
    background-color: var(--bg-700);

    z-index: 100;
}

.editModal>form {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.editModal label {
    margin-top: 0.125rem;
}

.editModal input {
    width: 100%;
    padding: 0.125rem;
    outline: 1px solid;
    margin-bottom: 0.5rem;
}

.close {
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: larger;
}